

.grid {
    position: fixed;
    top: 14%; /* Stick it to the top */
    left: 1.5%;
		 
    display: flex;
    flex-direction: column; 	 
    flex-wrap: wrap;   
    justify-content: center; 
    align-items: center;
    
    outline: 1px solid  rgb(200, 200, 200);
    z-index: -1;
  }

  .gridRow{
    height: 18px;
  }